.header {

  background: var(--background, #1D1F21);

  .menu-container {
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;




    .left-menu {
      width: 100%;
      max-width: 700px;
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      align-items: center;

      .main-logo-container {
        margin-left: 8px;
        margin-right: 23px;
      }

      .left-links {
        width: 532px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;
        max-width: 800px;
        margin-top: -1px;

        .con-left-link:hover {
          border-radius: 8px;
          background: var(--linear-10, linear-gradient(95deg, rgba(104, 201, 255, 0.10) 9.27%, rgba(209, 181, 255, 0.10) 84.06%));
        }

        .left-link {
          display: flex;
          align-items: center;
          color: var(--secondary, #C8D2DC);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 19px;
          font-family: "Manrope";
          padding: 8px 12px;
          border-radius: 8px;
          white-space: nowrap;
          transition: all 0.8s ease;

          .zamok-logo {
            margin-right: 8px;
          }

          &:hover {
            background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 14px;
            font-style: normal;
            line-height: 19px;
            transform: scale(1.07);
          }
        }

        @media (max-width: 1160px) {
          display: none;
        }
      }
    }



    .right-menu {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      align-items: center;

      .language-select {
        display: flex;
        width: 74px;
        height: 35px;
        padding: 0px 9px;
        border-radius: 7px;
        background: #212426;
        color: #C8D2DC;
        font-family: "Manrope";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;


        option {
          border: 0px solid black;
        }

        @media (max-width: 700px) {
          display: none;
        }
      }

      .language-select1 {
        display: none;
        width: 74px;
        height: 35px;
        padding: 0px 9px;
        border-radius: 7px;
        background: var(--frames, #212426);
        color: var(--secondary, #C8D2DC);
        font-family: "Manrope";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;

        option {
          border: 0px solid black;
        }

        @media (max-width: 700px) {
          display: none;
        }
      }

      .authorization-link-con {
        transition: all 0.3s ease;
        border-radius: 12px;
        margin-right: 8px;
        margin-left: 8px;
        background: var(--linear-10, linear-gradient(95deg, rgba(104, 201, 255, 0.10) 9.27%, rgba(209, 181, 255, 0.10) 84.06%));

        &:hover {
          transform: scale(1.03)
        }

        .authorization-link {
          background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          display: flex;
          padding: 14px 22px;
          border-radius: 12px;
          letter-spacing: 0.5px;
        }

        .logout-button {
          background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 150px;
          width: 100%;
          padding: 14px 22px;
          border-radius: 12px;
          letter-spacing: 0.5px;

          &:hover {
            transform: scale(1.03)
          }
        }

      }

      .premium-link-con {
        background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
        border-radius: 12px;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.03)
        }

        .premium-link {
          color: var(--background, #1D1F21);
          white-space: nowrap;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0.2px;
          display: flex;
          padding: 14px 21px 14px 22px;
          justify-content: center;
          align-items: center;
          border-radius: 12px;

        }

        @media (max-width: 550px) {
          display: none;
        }
      }

      .premium-link-logo {
        display: none;
        width: 32px;
        height: 32px;
        padding: 7px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 9px;
        background: var(--linear-10, linear-gradient(95deg, rgba(104, 201, 255, 0.10) 9.27%, rgba(209, 181, 255, 0.10) 84.06%));


        @media (max-width: 550px) {
          display: flex;
        }
      }

      .dropdown {
        display: none;


        .btn {

          margin-left: 10px;
          border: none;
          padding: 11px 10px;
          background: var(--linear-10, linear-gradient(95deg, rgba(104, 201, 255, 0.10) 9.27%, rgba(209, 181, 255, 0.10) 84.06%));

          @media (max-width: 550px) {
            span {
              display: none;
            }

            margin-left: 4px;
            margin-top: -1px;
            background: none;
          }
        }

        .dropdown-menu {
          background: #1D1F21;
          padding: 20px;

          .authorization-link-con2 {
            transition: all 0.3s ease;
            border-radius: 12px;
            margin-right: 8px;
            margin-left: 8px;
            background: var(--linear-10, linear-gradient(95deg, rgba(104, 201, 255, 0.10) 9.27%, rgba(209, 181, 255, 0.10) 84.06%));

            &:hover {
              transform: scale(1.03)
            }

            .authorization-link2 {
              background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 20px;
              display: flex;
              padding: 14px 22px;
              border-radius: 12px;
              letter-spacing: 0.5px;
            }

            .logout-button2 {
              background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              max-width: 150px;
              width: 100%;
              padding: 14px 22px;
              border-radius: 12px;
              letter-spacing: 0.5px;

              &:hover {
                transform: scale(1.03)
              }
            }

          }

          .language-select {
            display: flex;
            width: 74px;
            height: 35px;
            padding: 0px 9px;
            border-radius: 7px;
            background: var(--frames, #212426);
            color: var(--secondary, #C8D2DC);
            font-family: "Manrope";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;

            option {
              border: 0px solid black;
            }

            @media (max-width: 700px) {
              display: none;
            }
          }

          .dropdown-item {
            color: aliceblue;
            background-color: none;

            &:hover {
              background: none;
            }
          }
        }

        .dropdown-toggle::after {
          display: none !important;
        }

        @media (max-width: 1160px) {
          display: flex;
        }
      }

    }
  }
}

@media (max-width: 1100px) {

  .header .menu-container .right-menu .authorization-link-con {
    display: none;
  }

  .header .menu-container .right-menu .language-select {
    margin-right: 10px;
  }
}

@media (max-width: 700px) {


  .header .menu-container {
    padding: 0 15px;
    height: 64px;
  }
}

@media (max-width: 550px) {


  .header .menu-container {
    padding: 0 15px;
    height: 64px;
  }

  .header .menu-container .right-menu .dropdown .dropdown-menu .authorization-link-con2 {
    margin: 0;
  }

  .header .menu-container .right-menu .dropdown .dropdown-menu .dropdown-item {
    margin-bottom: 5px;
  }


  .header .menu-container .right-menu .dropdown .btn {
    margin-left: 0;
    padding: 0;
  }

  .header .menu-container .right-menu .premium-link-logo {
    padding: 0;
  }

  .header .menu-container .right-menu {
    max-width: 68px;
    width: 100%;
    justify-content: space-between;
  }
}