.arts__promo {
    max-width: 1132px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 71px;
    padding: 0 10px;
    position: relative;


    &::before {
        position: absolute;
        content: '';
        width: 500px;
        height: 500px;
        background: var(--color-1, #3626EA);
        filter: blur(100px);
        top: 183px;
        left: -35%;
        transform: rotate(-60deg);
        z-index: 1;
    }

    &::after {
        position: absolute;
        content: '';
        width: 323.784px;
        height: 440.015px;
        transform: rotate(16.291deg);
        background: var(--color-1, #86A8FF);
        filter: blur(150px);
        top: 316px;
        left: -10%;
        z-index: 1;
    }

    .arts__background--text {
        position: absolute;
        left: -260px;
        top: 75px;
        font-family: "proxima-bold";
        font-size: 80px;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: #fcffff;
        color: transparent;
        opacity: 0.2;
        white-space: nowrap;
        text-transform: uppercase;
    }

    .arts__background--text2 {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 74%);
        font-family: "proxima-bold";
        font-size: 80px;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: #fcffff;
        color: transparent;
        opacity: 0.2;
        white-space: nowrap;
        text-transform: uppercase;
    }

    .arts__promo--inner {
        display: flex;
        justify-content: space-between;

        .promo__inner--heading {
            margin-top: 180px;
            max-width: 470px;
            z-index: 2;

            .promo__heading--title {
                color: var(--text, #FCFFFF);
                font-family: "proxima-bold";
                font-size: 64px;
                font-style: normal;
                font-weight: 700;
                line-height: 65px;

            }

            .promo__heading--desc {
                margin-top: 16px;
                color: var(--text, #FCFFFF);
                max-width: 271px;
                font-family: "proxima-bold";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
            }

            .promo__heading--btn {
                margin-top: 40px;
                display: flex;
                gap: 8px;
                padding: 18px 22px 19px 22px;
                justify-content: center;
                align-items: center;
                border-radius: 16px;
                background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
                color: var(--background, #1D1F21);
                font-family: "proxima-bold";
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 26.5px;
            }
        }

        .promo__inner--pic {
            margin-top: 68px;
            position: relative;
            max-width: 561px;
            height: 100%;

            .promo__pic--img {
                width: 100%;
                object-fit: contain;
                position: relative;
                z-index: 2;
            }

            .promo__pic--star1 {
                position: absolute;
                left: -80px;
                bottom: 177px;
            }

            .promo__pic--star2 {
                position: absolute;
                right: -60px;
                top: 180px;
            }

            .promo__pic--circle {
                position: absolute;
                left: -80px;
                bottom: 120px;
            }

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                transform: rotate(-6deg);
                position: absolute;
                top: -10px;
                left: -35px;
                border-radius: 24px;
                background: rgb(198, 145, 244) 50% / cover no-repeat;
                z-index: 1;
            }
        }
    }
}

.arts__content {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 71px;


    #arts__content--inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px 29px;
        position: relative;
        z-index: 1;


        .arts__inner--card {
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
                max-height: 420px;
            }
        }

        .arts__inner--card.full-width {
            grid-column: span 2;
            border-radius: 12px;
        }

        .arts__card--hover {
            display: none;
            position: absolute;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background: linear-gradient(141deg, rgba(104, 128, 255, 0.90) 3.3%, rgba(60, 167, 244, 0.90) 52.35%, rgba(140, 69, 255, 0.90) 92.15%);

            .arts__hover--inner {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                max-width: 360px;

                .hover__inner--title {
                    color: var(--text, #FCFFFF);
                    font-family: "proxima-bold";
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 49.5px;
                }

                .hover__locked--title {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    color: rgb(252, 255, 255);
                    font-family: "proxima-bold";
                    font-size: 26px;
                    font-weight: 700;
                    line-height: 33.5px;
                }

                .hover__locked--about {
                    background: linear-gradient(130.10deg, rgb(104, 201, 255), rgb(209, 181, 255));
                    -webkit-background-clip:
                        text;
                    -webkit-text-fill-color:
                        transparent;
                    background-clip:
                        text;
                    text-fill-color:
                        transparent;
                    font-family: "proxima-bold";
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 26.5px;
                    letter-spacing: 10%;
                }

                .hover__inner--about {
                    color: var(--text, #FCFFFF);
                    text-align: center;
                    font-family: "proxima-bold";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 21px;
                    max-width: 260px;
                }

                .hover__inner--price {
                    color: var(--text, #FCFFFF);
                    font-family: "proxima-bold";
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 33.5px;
                }
            }

            .arts__hover--btn {
                display: flex;
                margin: 0 auto;
                margin-top: 26px;
                max-width: 268px;
                gap: 12px;

                .hover__btn--buy {
                    display: flex;
                    width: 122px;
                    padding: 18px 0px 19px 0px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 16px;
                    background: var(--background, #1D1F21);

                    a {
                        /* btn */
                        font-family: "proxima-bold";
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 26.5px;
                        background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                .hover__btn--view {
                    display: flex;
                    padding: 18px 31px 19px 30px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 16px;
                    background: var(--background, #1D1F21);

                    a {
                        display: flex;
                        gap: 8px;
                        /* btn */
                        font-family: "proxima-bold";
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 26.5px;
                        background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                .hover__lockedbtn--buy {
                    display: flex;
                    padding: 18px 31px 19px 30px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 16px;
                    background: var(--background, #1D1F21);
                    font-family: "proxima-bold";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 26.5px;
                    color: rgb(37, 153, 215);

                }

                .hover__lockedbtn--view {
                    display: flex;
                    padding: 18px 31px 19px 30px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 16px;
                    background: var(--background, #1D1F21);
                    font-family: "proxima-bold";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 26.5px;
                    color: rgb(37, 153, 215);
                }
            }
        }
    }
}

.arts__custom {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 30px;
    padding: 0 10px;




    .arts__custom--headline {
        display: flex;
        flex-direction: column;
        align-items: center;

        .custom__headline--title {
            font-family: 'proxima-bold';
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 26.5px;
            letter-spacing: 1.8px;
            background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .custom__headline--subtitle {
            margin-top: 2px;
            color: var(--text, #FCFFFF);
            text-align: center;
            font-family: 'proxima-bold';
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 49.5px;
            max-width: 540px;
        }
    }

    #customForm {
        display: flex;
        flex-direction: column;
        max-width: 410px;
        margin-top: 29px;
        width: 100%;
        gap: 26px;
        position: relative;
        z-index: 2;

        label {
            color: var(--secondary, #C8D2DC);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
        }

        .custom__form--name {
            display: flex;
            flex-direction: column;
            gap: 10px;

            #productName {
                display: flex;
                padding: 20px 30px 20px 28px;
                justify-content: flex-end;
                align-items: flex-start;
                width: 100%;
                border-radius: 9px;
                background: var(--frames, #212426);
                color: var(--text, #FCFFFF);
                font-family: "proxima-bold";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 21px;
                /* 131.25% */

                option {
                    color: var(--text, #FCFFFF);
                    font-family: "proxima-bold";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 21px;
                    /* 131.25% */
                }
            }
        }

        .custom__form--color {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .color-input {
                display: flex;
                align-items: center;

                .color-circle {
                    width: 40px;
                    height: 40px;
                    margin-right: 8px;
                    border-radius: 50%;
                    border: 4px solid #1D1F21;
                    cursor: pointer;
                    transition: transform 0.3s;
                    background-color: var(--color);
                }

                input[type="hidden"] {
                    display: none;
                }

                .color-circle.selected {
                    transform: scale(1.4);
                    border-width: 6px;

                }
            }
        }

        .custom__form--size {
            display: flex;
            flex-direction: column;
            gap: 7px;

            #productSize {
                display: flex;
                padding: 20px 30px 20px 32px;
                justify-content: flex-end;
                align-items: flex-start;
                width: 100%;
                border-radius: 9px;
                background: var(--frames, #212426);
                color: var(--text, #FCFFFF);
                font-family: "proxima-bold";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 21px;
                /* 131.25% */

                option {
                    color: var(--text, #FCFFFF);
                    font-family: "proxima-bold";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 21px;
                    /* 131.25% */
                }
            }
        }

        .inputText {
            color: #FCFFFF;
            margin-top: 7px;
            width: 100%;
            height: 182px;
            padding: 21px 21px 22px 32px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            opacity: 0.6;
            border-radius: 9px;
            background: var(--frames, #212426);
            margin-bottom: 15px;
            resize: none;
        }

        .submitBtn {
            margin-top: -35px;
            width: 100%;
            color: var(--background, #1D1F21);
            font-family: 'proxima-bold';
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 26.5px;
            padding: 18px 0px 19px 0px;
            border-radius: 16px;
            background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
        }

        .custom-checkbox {
            display: flex;
            align-items: center;
            color: var(--secondary, #C8D2DC);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;

            .checkmark {
                margin-left: 10px;
            }

            a {
                color: var(--color-3, #86A8FF);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
                text-decoration-line: underline;
                margin-left: 5px;
                letter-spacing: 0.2px;
                margin-right: 4px;
            }

            .privasyCheckbox {
                width: 20px;
                height: 20px;
                background: var(--background, #1D1F21);
                border-radius: 7px;
                border: 1px solid #525960;
                position: relative;

                &:checked {
                    &::before {
                        content: "\2713";
                        /* Unicode для галочки */
                        font-size: 16px;
                        /* Розмір галочки */
                        color: #68c9ff;
                        /* Колір галочки */
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -40%);
                    }
                }
            }
        }
    }

    .bg_img {
        position: absolute;
        z-index: 1;
    }

    .dim21 {
        top: 200px;
        left: -130px;
    }


    .dim22 {
        top: 140px;
        left: 161px;
        filter: blur(6.5px)
    }

    .dim23 {
        bottom: 80px;
        left: 215px;
    }

    .cub24 {
        position: absolute;
        top: 40px;
        right: -180px;
        filter: blur(6.5px)
    }
}


@media (max-width: 970px) {
    .arts__promo .arts__promo--inner {
        align-items: center;
    }
}

@media (max-width: 790px) {
    .arts__content #arts__content--inner {
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        z-index: 1;
    }

    .arts__promo .arts__promo--inner .promo__inner--pic .promo__pic--star2 {
        right: 0;
    }
}

@media (max-width: 760px) {
    .arts__promo .arts__promo--inner {
        flex-direction: column-reverse;
    }

    .arts__promo .arts__background--text {
        display: none;
    }
}

@media (max-width: 660px) {
    .arts__content #arts__content--inner {
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        z-index: 1;
    }

    .arts__content #arts__content--inner .arts__inner--card.full-width {
        grid-column: auto;
    }

    .arts__promo .arts__background--text2 {
        display: none;
    }
}

@media (max-width: 435px) {
    .arts__promo .arts__promo--inner {
        align-items: flex-start;
    }

    .arts__promo {
        margin-top: -10px;
        margin-bottom: 45px;
    }

    .arts__content {
        margin-top: 0;
    }

    .arts__content #arts__content--inner .full-width .arts__card--hover .arts__hover--btn {
        margin-top: 0;
    }

    .arts__content #arts__content--inner .full-width .arts__card--hover .arts__hover--inner {
        gap: 0;
    }

    .arts__content #arts__content--inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .arts__content #arts__content--inner .arts__inner--card img {
        max-width: 345px;
    }

    .arts__content #arts__content--inner .arts__inner--card.full-width {
        max-width: 345px;
        width: 100%;

        img {
            max-width: 345px;
            height: 195px;
            width: 100%;
            border-radius: 12px;
        }
    }

    .arts__promo .arts__promo--inner .promo__inner--heading {
        max-width: 253px;
        margin-top: 70px;
        margin-left: 5px;
    }

    .arts__promo .arts__promo--inner {
        flex-direction: column;
    }

    .arts__promo .arts__promo--inner .promo__inner--heading .promo__heading--title {
        color: var(--text, #FCFFFF);
        font-family: "proximanova";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }

    .arts__promo .arts__promo--inner .promo__inner--heading .promo__heading--desc {
        margin-top: 10px;
        color: var(--text, #FCFFFF);
        font-family: "proximanova";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .arts__promo .arts__background--text2 {
        display: block;
        font-family: "proxima-bold";
        font-size: 50px;
        top: -45px;
        left: 295px;
        bottom: auto;
    }

    .arts__promo::before {
        left: -230px;
    }

    .arts__custom .dim21 {
        display: none;
    }

    .arts__custom .dim23 {
        display: none;
    }

    .arts__promo::after {
        top: 234px;
        width: 205.653px;
        height: 279.477px;
        transform: rotate(16.291deg);
        left: 220px;
    }

    .arts__promo::before {
        transform: rotate(0);
        width: 304.055px;
        height: 414.47px;
        left: 100px;
    }

    .arts__promo .arts__promo--inner .promo__inner--heading .promo__heading--btn {
        margin-top: 20px;
        display: inline-flex;
        padding: 12px 28px 13px 28px;
        justify-content: center;
        align-items: center;
        color: var(--background, #1D1F21);
        font-family: "proxima-bold";
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 26.5px;
        gap: 8px;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    .arts__promo .arts__promo--inner .promo__inner--pic {
        margin-top: 60px;
        max-width: 309px;
        margin-left: 40px;
    }

    .arts__promo .arts__promo--inner .promo__inner--pic::before {
        left: -20px;
    }

    .arts__promo .arts__promo--inner .promo__inner--pic .promo__pic--star1 {
        top: -40px;
        left: -60px;
        bottom: auto;
    }

    .arts__promo .arts__promo--inner .promo__inner--pic .promo__pic--star2 {
        display: none;
    }

    .arts__promo .arts__promo--inner .promo__inner--pic .promo__pic--circle {
        display: none;
    }

}