.main {}

.section-1 {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    padding-top: 12px;

    .left-container {
        width: 400px;

        .make-art-fon {
            font-family: "proxima-bold";
            font-size: 80px;
            -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: #fcffff;
            color: transparent;
            opacity: 0.2;
            white-space: nowrap;
            text-transform: uppercase;
            margin-left: -45.5%;
        }

        .socials-con {
            margin-top: 14px;
            margin-left: -3px;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 150px;
                padding-left: 0px;

            }
        }

        .title-section-1 {
            color: var(--text, #FCFFFF);
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 65px;
            margin-top: 26px;
            width: 470px;
            margin-left: 0px;
            font-family: 'proxima-bold';
            letter-spacing: -0.2px;
        }

        .about-section-1 {
            margin-top: 14px;
            color: var(--text, #FCFFFF);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            width: 271px;
        }

        .btn-con-section-1 {
            display: flex;

            margin-top: 40px;
            margin-bottom: 16px;


            .premium-link-con {
                background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
                border-radius: 16px;
                transition: all 0.3s ease;
                margin-right: 3px;

                &:hover {
                    transform: scale(1.03)
                }

                .premium-link {
                    color: var(--background, #1D1F21);
                    white-space: nowrap;
                    font-style: normal;
                    font-weight: bolder;
                    letter-spacing: 0.4px;
                    display: flex;
                    padding: 18px 22px 19px 22px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 16px;
                    font-size: 18px;
                    line-height: 26.5px;

                    svg {
                        margin-right: 8px;
                    }

                }
            }

            .discover-link-con {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.3s ease;
                border-radius: 16px;
                margin-right: 8px;
                margin-left: 8px;
                background: var(--linear-10, linear-gradient(95deg, rgba(104, 201, 255, 0.10) 9.27%, rgba(209, 181, 255, 0.10) 84.06%));

                &:hover {
                    transform: scale(1.03)
                }

                .discover-link {
                    background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 26.5px;
                    display: flex;
                    border-radius: 12px;
                    letter-spacing: 0.5px;
                    padding: 18px 36px 19px 37px;
                }
            }
        }

        .not-war-fon {
            font-family: "proxima-bold";
            font-size: 80px;
            -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: #fcffff;
            color: transparent;
            opacity: 0.2;
            white-space: nowrap;
            text-transform: uppercase;
            margin-top: 10px;
            margin-left: 79.5%;
            letter-spacing: -0.5px;
        }
    }

    .right-container {
        margin-top: 26px;
        max-width: 769px;
        display: flex;
        align-items: center;
        position: relative;

        .img-container-s-1 {
            margin-top: 17px;
            margin-left: 11px;

            .girl-img {
                margin-left: -1px;
                max-width: 100%;
                background-image: url('/images/bgMain.png');
                background-repeat: no-repeat;
                background-position: right bottom;
                background-size: 67.3% 97.1%;
            }
        }

        .icon-abs {
            position: absolute;
        }

        .star1-icon {
            top: 4%;
            left: 22.7%;
        }

        .star2-icon {
            top: 73.6%;
            left: 7.7%;
        }

        .smallSircle-icon {
            top: 2.6%;
            left: 97.9%;
        }

        .bigSircle-icon {
            top: 28.7%;
            left: 26.3%;
        }




    }

}

.section-2 {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    padding-top: 108px;

    .left-container {
        padding-left: 30px;
        position: relative;

        .fon-left-con {
            z-index: 0;
            position: absolute;
            top: -15px;
            left: 8px;
            width: 448.414px;
            height: 589.669px;
            transform: rotate(-3.862deg);
            flex-shrink: 0;
            border-radius: 24px;
            background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
        }

        .girlglass {
            z-index: 1;
            position: relative;
        }


    }

    .right-container {
        display: flex;
        flex-direction: column;
        max-width: 550px;
        margin-right: 20px;
        padding-top: 16px;

        .title {
            font-size: 18px;
            font-style: normal;
            font-family: "proxima-bold";
            font-weight: bolder;
            line-height: 26.5px;
            letter-spacing: 1.8px;
            background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding: 0px;
        }

        .name-title {
            margin-top: 0px;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 49.5px;
            font-family: "proxima-bold";
        }

        .about {
            margin-top: 16px;
            color: var(--text, #FCFFFF);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
        }

        .block-container {
            display: flex;
            justify-content: space-between;
            padding-right: 15px;
            padding-top: 45px;

            .content-container {
                width: 155px;

                .year {
                    color: var(--secondary, #C5FF98);
                    font-family: "proxima-bold";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;
                    padding: 8px 13px;
                    border-radius: 10px;
                    background: var(--10-secondary, rgba(197, 255, 152, 0.10));
                }

                .content {
                    margin-top: 15px;
                    margin-left: 1px;
                    color: var(--text, #FCFFFF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
        }
    }
}

.section-3 {
    padding: 85px 15px 0px;

    .content-container {
        margin: auto;
        max-width: 1140px;
        height: 446px;
        border-radius: 24px;
        background: var(--additional, linear-gradient(95deg, #6880FF 9.27%, #3CA7F4 50.77%, #8C45FF 84.06%));
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        .left-side {
            width: 100%;
            padding-left: 110px;
            padding-top: 83px;

            .title-s-2 {
                margin-top: 12px;
                color: var(--text, #FCFFFF);
                font-family: "proxima-bold";
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 49.5px;
            }

            .about-s-2 {
                margin-top: 12px;
                color: var(--text, #FCFFFF);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                max-width: 440px;
                min-width: 350px;
            }

            .plans-link-con {
                margin-top: 12px;
                width: min-content;
                transition: all 0.3s ease;
                border-radius: 16px;
                background: var(--background, #1D1F21);

                &:hover {
                    transform: scale(1.03)
                }

                .plans-link {
                    background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 26.5px;
                    display: flex;
                    border-radius: 12px;
                    padding: 18px 37px 19px 37px;
                    white-space: nowrap;
                    font-family: "proxima-bold";
                }
            }
        }

        .right-side {
            width: 100%;
            position: relative;

            .dim1 {
                position: absolute;
                top: 19.6%;
                left: 17.8%;
            }

            .dim2 {
                position: absolute;
                top: -6.6%;
                left: 19.1%;
                filter: blur(3.5px)
            }

            .dim3 {
                position: absolute;
                top: 55.8%;
                left: 53.5%;
                filter: blur(7.5px)
            }

            &::before {
                content: "";
                position: absolute;
                right: -165px;
                top: -22px;
                width: 512px;
                height: 512px;
                border: 64px solid rgba(255, 255, 255, .2450980392);
                border-radius: 50%;
            }

        }

    }
}

.section-4 {
    width: 100%;
    margin: auto;
    margin-top: -39px;

    .swiper-container {
        overflow: hidden;
        /* Відключення горизонтального скролінгу */
        width: 100%;
        white-space: nowrap;

        .swiper-wrapper {
            display: flex;

            // justify-content: center;
            // max-width: min-content;

            .swiper-slide {
                height: 650px;
                width: 380px;
                display: flex;
                justify-content: center;
                align-items: end;
                transition: transform 0.5s ease;
                opacity: 0.3;
                /* Плавний перехід при зміні активного слайда */

                .cardNFT {
                    max-width: 350px;
                    min-height: 600px;
                    border-radius: 12px;
                    background: var(--frames, #212426);
                    position: relative;
                    z-index: 10;

                    .card__name {
                        margin: 17px 0px 0px 20px;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 26.5px;
                        /* 147.222% */
                        letter-spacing: 1.8px;
                        background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    .image__container {
                        margin-top: 18px;
                        background: var(--color-3, #86A8FF);
                        width: 100%;
                        min-height: 350px;
                        text-align: center;
                        position: relative;
                        overflow: hidden;
                        z-index: 10;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;

                        &:before {
                            content: '';
                            position: absolute;
                            width: 464px;
                            height: 463px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -20%);
                            border-radius: 464px;
                            border: 26px solid rgba(29, 31, 33, .50);
                            opacity: 0.2;
                            // z-index: 1;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            width: 372px;
                            height: 372px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -5%);
                            border-radius: 372px;
                            border: 46px solid rgba(29, 31, 33, 0.13);
                            // z-index: 9;
                        }

                        img {
                            position: relative;
                            z-index: 10;
                            max-width: 254px;
                            object-fit: cover;
                        }
                    }

                    .card__title {
                        margin: 15px 69px 2px 24px;
                        color: var(--text, #FCFFFF);
                        margin-left: 24px;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 30px;
                        font-family: proxima-bold;
                        /* 150% */
                    }

                    .card__about {
                        color: var(--secondary, #C8D2DC);
                        margin: 0px 69px 0px 24px;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px;
                        max-width: 275px;
                        white-space: wrap;
                        /* 150% */
                    }

                    .card__price {
                        color: var(--text, #FCFFFF);
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 33.5px;
                        margin-top: 3px;
                        /* 128.846% */
                    }

                    .footer__card {
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        max-width: 305px;
                        justify-content: space-between;
                        align-items: center;
                        margin: 33px 21px 10px 27px;

                        &:before {
                            content: '';
                            position: absolute;
                            top: -15px;
                            left: 0;
                            max-width: 303px;
                            width: 100%;
                            height: 1px;
                            opacity: 0.05;
                            background: #FCFFFF;
                        }
                    }

                    .button__card {
                        color: var(--background, #1D1F21);
                        font-size: 14px;
                        font-style: normal;
                        font-family: 'proxima-bold';
                        font-weight: 700;
                        line-height: 20px;
                        display: inline-flex;
                        padding: 14px 30px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 12px;
                        background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
                    }
                }

                &:hover {
                    transform: translateY(-32px);
                    opacity: 1;
                    /* Підняття активного слайда на 20px */
                }

                &.swiper-slide-active {
                    transform: translateY(-32px);
                    opacity: 1;
                    /* Підняття активного слайда на 20px */
                }

                &.swiper-slide-prev {
                    opacity: 1;
                    /* Підняття активного слайда на 20px */
                }

                &.swiper-slide-next {
                    opacity: 1;
                    /* Підняття активного слайда на 20px */
                }
            }
        }
    }
}

.section-5 {
    margin-top: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 92px;
    position: relative;

    .contact_title {
        font-family: 'proxima-bold';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 26.5px;
        letter-spacing: 1.8px;
        background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .contact_about {
        margin-top: 2px;
        color: var(--text, #FCFFFF);
        text-align: center;
        font-family: 'proxima-bold';
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 49.5px;
        max-width: 540px;
    }

    form {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        width: 410px;

        label {
            color: var(--secondary, #C8D2DC);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
        }

        .inputName {
            color: #FCFFFF;
            margin-top: 7px;
            width: 100%;
            padding: 21px 21px 22px 32px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            opacity: 0.6;
            border-radius: 9px;
            background: var(--frames, #212426);
            margin-bottom: 15px;
        }

        .inputMail {
            color: #FCFFFF;
            margin-top: 7px;
            width: 100%;
            padding: 21px 21px 22px 32px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            opacity: 0.6;
            border-radius: 9px;
            background: var(--frames, #212426);
            margin-bottom: 15px;
        }

        .inputText {
            color: #FCFFFF;
            margin-top: 7px;
            width: 100%;
            height: 182px;
            padding: 21px 21px 22px 32px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            opacity: 0.6;
            border-radius: 9px;
            background: var(--frames, #212426);
            margin-bottom: 15px;
            resize: none;
        }

        .submitBtn {
            color: var(--background, #1D1F21);
            font-family: 'proxima-bold';
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 26.5px;
            padding: 18px 0px 19px 0px;
            border-radius: 16px;
            background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
        }

        .custom-checkbox {
            margin-top: 18px;
            display: flex;
            align-items: center;
            color: var(--secondary, #C8D2DC);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;

            .checkmark{
                margin-left: 10px;
            }

            a {
                color: var(--color-3, #86A8FF);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
                text-decoration-line: underline;
                margin-left: 5px;
                letter-spacing: 0.2px;
                margin-right: 4px;
            }

            .privasyCheckbox{
                -webkit-appearance: none;
                width: 20px;
                height: 20px;
                background: var(--background, #1D1F21);
                border-radius: 7px;
                border: 1px solid #525960;
                position: relative;

                &:checked {
                    &::before {
                        content: "\2713"; /* Unicode для галочки */
                        font-size: 16px; /* Розмір галочки */
                        color: #68c9ff; /* Колір галочки */
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -40%);
                    }
                }
            }
        }
    }

    .bg_img_con{
        position: absolute;
        width: 100px;
        height: 100px;

        .bg_img{
            position: absolute;
        }
    
        .dim21{
            top: 203%;
            left: -795%;
        }

    
        .dim22{
            top: 135%;
            left: -510%;
            filter: blur(6.5px)
        }

        .dim23{
            top: 528%;
            left: -454%;
        }

        .cub24{
            top: 41%;
            left: 420%;
            filter: blur(6.5px)
        }
    }




}